
<div class="header--admin-text-box">
  <a href="/wall" class="header-admin-primary-btn " onclick="headingText('.school')">school wall</a>
  <a href="/studentPage" class="header-admin-primary-btn " onclick="headingText('.student')">student login </a>
  <a href="/teacherFill" class="header-admin-primary-btn " onclick="headingText('.teacher')">teacher login</a>
</div>
