
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
  <title>SmartSchool</title>
</head>
<body>
    <div class="container">
     <header class="header">
<div class="header-primary-menu-box">
         <div class="header--top-bar">
           
         <img src="https://avatars2.githubusercontent.com/u/57487623?s=400&u=ea14e01321fbbbe42a3209ba47cb5c1a7af7bfb0&v=4?w=360&amp;h=360&amp;crop=1" class="super--admin" alt="super--admin">
           <div class="logo-box">
             <img src="https://img.freepik.com/free-icon/students-cap_318-62709.jpg?size=338c&amp;ext=jpg" alt="Logo balck" class= "logo">
           </div>

         </div>

     </div>

  {{{body}}}
</header>
{{>fotter}}



  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

</html>